#Image {
    border: 5px white solid;
    height: 500px;
    width: 500px;
}
#BackG {
    float: left;
    width: 600px;
}
#pepper {
    background-color: black;
    color: red;
    text-align: center;
}
#btnAlert {
    display: block;
}
#Inventory {
    float: right;
    border: 5px black solid;
    font-size: 30px;
}
#status {
    float: left;
    height: 500px;
    width: 500px;
}